.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
src/webview-ui/src/**
src/webview-ui/public/**
src/webview-ui/tsconfig.json
src/webview-ui/webpack.config.js
src/webview-ui/package.json
src/webview-ui/package-lock.json
!src/webview-ui/dist/**
